# Byte-compiled / optimized / DLL files
__pycache__/

# Pipenv files
Pipfile.lock

# Editor files
.vscode/

# Flask stuff:
instance/
.webassets-cache

# Environments
venv/

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json