# Deployment files
wsgi.py
/*.ini

# Byte-compiled / optimized / DLL files
__pycache__/

# Pipenv files
Pipfile.lock

# Editor files
.vscode/
.idea/

# Flask stuff:
instance/*
.webassets-cache

# Environments
venv/
env/

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json